.slide-cool {
  height: 210px;
}

.slide-red {
  background-color: lightcoral;
}

.slide-blue {
  background-color: powderblue;
}

.slide-green {
  background-color: mediumaquamarine;
}

/*
Source: https://blog.nraboy.com/2015/01/embed-video-ios-android-ionicframework-app/ 
*/

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
