<ion-view view-title='Buttons'>
  <ion-content>
    <div class='padding'>
      <button class='button button-block'>
        Default button
      </button>
      <button class='button button-block button-light'>
        Light button
      </button>
      <button class='button button-block button-stable'>
        Stable button
      </button>
      <button class='button button-block button-clear button-positive'>
        Clear button
      </button>
      <button class='button button-block button-positive'>
        Solid button
      </button>
    </div>

    <button class='button button-full button-balanced'>
      Full button
    </button>

    <div class='padding'>
      <h3>Outlined, colored buttons:</h3>
      <button ng-repeat='colorName in colorNames'
              ng-click='showAlert(colorName)'
              ng-class="['button-' + colorName, 'button', 'button-block', 'button-outline']">
        {{colorName}}
      </button>

      <h3>Icon buttons</h3>
      <button ng-repeat='iconName in iconNames'
              ng-class="['button', 'button-outline', 'icon', 'ion-'+iconName]"></button>

      <h3>Button bars</h3>
      <div class="button-bar">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
      </div>
      <div class="button-bar bar-positive">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
      </div>
    </div>
  </ion-content>
</ion-view>
