<ion-view view-title='Embed video' class='video'>
  <ion-content class='padding'>
    <div class='video-container'>
      <iframe src="https://www.youtube.com/embed/px2yZL_XfB0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class='video-container'>
      <iframe src="https://www.youtube.com/embed/q_Ufv2WxzCg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class='video-container'>
      <iframe src="https://www.youtube.com/embed/E0M5aCi_P9Q" frameborder="0" allowfullscreen></iframe>
    </div>
  </ion-content>
</ion-view>
