<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>View the <a href="http://ionicframework.com/docs/components/">index of CSS components</a> in the Ionic docs.</p>

    <p>Hey look at these buttons!</p>

    <button class="button button-block button-clear button-positive">
      Clear button
    </button>
    <button class="button button-block button-outline button-positive">
      Outlined button
    </button>
    <button class="button button-block button-positive">
      Positive (color) button
    </button>

    <p>
      <button class="button icon-left ion-star button-calm">Icon button</button>
      <button class="button icon ion-gear-a button-balanced"></button>
      <button class="button icon-right ion-navicon button-energized">Icon button</button>
    </p>

    <div class="button-bar bar-positive">
      <a class="button">Button</a>
      <a class="button">Bar</a>
      <a class="button">Yay</a>
    </div>
  </ion-content>
</ion-view>
